.venv

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django / Wagtail
db.sqlite3
*.sqlite3
media/


mysite/settings/local.py

.env
.env.*

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Static files (collected)
staticfiles/
static_collected/