{% load wagtailcore_tags %}
<div class="card my-3 featured-card">
    <div class="card-body white-text">
        <div class="d-flex align-items-center mb-1">
            <p class="project-icon">
                <i class="c-primary fa-regular fa-folder-closed"></i>
            </p>
            <div class="h5 ms-auto">
                <a href="{{ self.repo_link }} " target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
                {% if self.deployed_link %}
                    <a href=" {{ self.deployed_link }} " target="_blank" rel="noopener"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                {% endif %}
            </div>
        </div>
        <h3 class="h6">
            {{ self.title }}
        </h4>
        <div class="featured-description projects-text">{{ self.description }}</div>
        <p class="projects-text tech-stack c-accent">{{ self.tech_stack }}</p>
    </div>
</div>
