{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <div class="container form-page-shell">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-8">
                <h1 class="form-page-title">{{ page.title }}</h1>
                <div class="form-page-intro">{{ page.intro|richtext }}</div>
                <form class="page-form"
                      action="{% pageurl page %}"
                      method="post"
                      novalidate>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    {% if form.non_field_errors %}
                        <div class="form-errors">
                            {% for err in form.non_field_errors %}<p>{{ err }}</p>{% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form.visible_fields %}
                        <div class="form-row form-row--{{ field.name }}">
                            <label class="form-label" for="{{ field.id_for_label }}">
                                {{ field.label }}
                                {% if field.field.required %}<span class="required-mark">*</span>{% endif %}
                            </label>
                            {{ field }}
                            {% if field.help_text %}<small class="field-help">{{ field.help_text }}</small>{% endif %}
                            {% if field.errors %}
                                <div class="field-errors">
                                    {% for err in field.errors %}<p>{{ err }}</p>{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="c-button form-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
