{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col col-md-10 custom-card shapeless d-flex flex-column mx-1">
                <p>{{ page.hero_text }}</p>
                <h1 class="white-text">{{ page.title }}</h1>
                {{ page.body|richtext }}
                {% if page.hero_cta_link %}
                    <a class="ms-auto btn btn-outline-info mt-4"
                       href="{% pageurl page.hero_cta_link %}"
                       role="button">{% firstof page.hero_cta page.hero_cta_link.title %}</a>
                {% endif %}
            </div>
        </div>
        <div class="row more-margin justify-content-center">
            <div class="col col-md-10 col-lg-8">
                <h2>
                    {% verbatim %}
                        <span class="yellow-text">{%</span> 01. About me <span class="yellow-text">%}</span>
                    {% endverbatim %}
                </h2>
                <div class="row mt-3">
                    <div class="col-12 col-sm-8">
                        <p class="">
                            Junior Software Developer with a strong foundation in front-end and back-end development gained through the
                            AI-Augmented Full-Stack Software Development Skills Bootcamp. Skilled in HTML, CSS, JavaScript, Python, and
                            Django, with experience in agile, team-based projects and industry best practices. Bringing 10 years of hospitality
                            experience and a background in 3D art, combining strong communication and problem-solving skills. Eager to
                            contribute to dynamic teams, learn new technologies, and grow as a versatile full-stack professional.
                        </p>
                    </div>
                    <div class="col-12 col-sm-4">{% image page.image min-200x200 %}</div>
                </div>
            </div>
        </div>
        <div class="row  offset-lg-1 more-margin">
            <div class="col col-md-10">
                <h2 class="mb-4">
                    {% comment %} {% verbatim %}
                        <span class="red-text">&lt;</span> 02. My work so far
                        <span class="red-text">/&gt;</span>
                    {% endverbatim %} {% endcomment %}
                    <span class="red-text"><i class="fa-solid fa-code"></i></span> 02. Some things I've built
                    <span class="red-text"><i class="fa-solid fa-code"></i></span>
                </h2>
                <div class="row">
                    <div class="col-12 col-md-7">
                        <img class="img-fluid"
                             src="../static/images/project.png"
                             alt="featured project">
                    </div>
                    <div class="col-12 col-md-5 d-flex flex-column text-end align-items-end">
                        <p>Featured project</p>
                        <h3 class="project-title">Problem? Solved.</h3>
                        <p class="project-text">
                            A platform where workers share workplace issues and others add “Takes” with experiences and solutions, helping surface problems and inspire business ideas.
                        </p>
                        <p class="stack">
                            Stack - JavaScript
                            Python
                            Django
                            PostgreSQL
                            Heroku
                        </p>
                        <p>
                            <i class="fa-brands fa-github"></i> <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center more-margin">
            <div class="col  col-md-10 col-lg-8">
                {% if page.featured_projects %}
                    <section class="featured-projects">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="h3">Other projects...</h2>
                                </div>
                            </div>
                            <div class="row">
                                {% for block in page.featured_projects %}
                                    <div class="col-12 col-md-6 col-xl-4 ">{% include_block block %}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
            <div class="row justify-content-center more-margin">
                <div class="col  col-md-8 col-lg-6 ">
                    <h2>
                        {% verbatim %}
                            03. Sometimes i write <i class="fa-solid fa-terminal"></i>
                        {% endverbatim %}
                    </h2>
                    <section>
                        {% if page.featured_posts %}
                            <section class="featured-posts">
                                <p class="">Featured Posts</p>
                                <div class="grid">
                                    {% for block in page.featured_posts %}
                                        {% with post=block.value.specific %}
                                            <div class="card my-3 blog-card">
                                                <div class="card-body white-text">
                                                    <a href="{% pageurl post %}" class="card-link">
                                                        <h5 class="">{{ post.title }}</h5>
                                                    </a>
                                                    <p class="mb-2">{{ post.date }}</p>
                                                    <p class="">{{ post.intro }}</p>
                                                    <a href="{% pageurl post %}" class="card-link">Read post</a>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </section>
                        {% endif %}
                    </section>
                    <a class="ms-auto btn btn-outline-secondary mt-4"
                       href="{% pageurl page.hero_cta_link %}"
                       role="button">Go to Blog</a>
                </div>
            </div>
        </div>
    {% endblock content %}
